<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/XmSummer" target="_blank">@XmSummer</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/summerx0821/" target="_blank">@summerx0821</a></p>
<p><i class="fa fa-instagram fa-lg fa-fw"></i> <a href="https://www.instagram.com/summerxiam/" target="_blank">@summerxiam</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/meng-summer-xia">llinkedin.com/in/Meng</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:summerx0821@gmail.com" target="_blank">summerx0821@gmail.com</a></p>